@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-img {
  background-image: url(/background/bg.jpg);
}

.bg-2 {
  background-image: url(/background//bg2.jpg);
}

.bg-3 {
  background-image: url(/background//bg3.jpg);
}

.bg-4 {
  background-image: url(/background//bg4.jpg);
}

.bg-5 {
  background-image: url(/background//bg5.jpg);
}

.height {
  height:75vh;
}

.height-footer {
  height:30vh;
}

.hidd {
  opacity: 0;
  transition: all 5s;
}

.show {
  opacity: 1;
}
