@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-img {
  background-image: url(/bg.jpg);
}

.bg-2 {
  background-image: url(/bg2.jpg);
}

.bg-3 {
  background-image: url(/bg3.jpg);
}

.bg-4 {
  background-image: url(/bg4.jpg);
}

.bg-5 {
  background-image: url(/bg5.jpg);
}

.bg-6 {
  background-image: url(/bg6.jpg);
}

.height {
  height:75vh;
}

.height-footer {
  height:30vh;
}